<div class="row">

  <div id="password" class="tab col s6 offset-s3">
    <form action="/auth/password" method="POST">
      <h1>Set new password</h1>
      {{#if accessError}}
        <p class="msg error">{{accessError}}</p>
      {{/if}}
      <div class="input-field">
        <input
          id="password"
          name="password"
          type="password"
          class="validate"
          required
        />
        <label for="password">password</label>
        <span class="helper-text" data-error="Fill the field"></span>
      </div>

      <input type="hidden" name="userId" value="{{userId}}" />
      <input type="hidden" name="token" value="{{token}}" />
      <button class="btn btn-primary" type="submit">set new password</button>
    </form>
  </div>

</div>