.nav-wrapper {
  padding: 0 2rem;
}

.price {
  font-size: 2rem;
}

.course {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course h1 {
  margin-bottom: 2rem;
}

.course img {
  max-width: 600px;
  height: auto;
}

.course .price.big {
  font-size: 2.5rem;
}

.card-action.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

._remove {
  margin-top: 2rem;
}

.auth {
  padding-top: 1rem;
}

.msg {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(102, 243, 102);
  font-size: 20px;
  color: green;
}

.error {
  background-color: rgb(226, 167, 167);
  color: red;
}

.message {
  position: relative;
  animation: animation 0.5s linear;
}

.message::after {
  position: absolute;
  content: "|";
  bottom: 0;
  right: -5px;
  animation: animation 0.5s infinite;
}

@keyframes animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
